# Data files
*.csv
*.json
*.npy
*.pkl
*.ckpt
*.pdf

# Allow chatbot data files
!04_Chatbot/data/*.csv
!04_Chatbot/data/*.json

# Pycache
__pycache__/
*.pyc

# Model outputs
extra/
catboost_info/

# Mac
.DS_Store

# Sensitive
*token*
